body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(30, 30, 77);
  text-align: center;
}

#top-text {
  font-size: 3rem;
  color: antiquewhite;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 215px;
  width: 215px;
  margin: 10px;
  border: 10px black solid;
  border-radius: 20px;
  cursor: auto;
}

.pressed {
  box-shadow: 0px 0px 2px 2px white;
  height: 220px;
  width: 220px;
}

.temp-para {
  font-size: 20px;
  color: antiquewhite;
  font-family: "Press Start 2P", system-ui;
  font-weight: 300;
  font-style: normal;
}
